*{
margin: 0;
scroll-behavior: smooth;
}
body{

justify-content: center;
align-items: center;
background-color: white;

font-family: sans-serif;
}
h1,h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 4rem;
}

h1{
/* font-weight: lighter; */
text-align: right;
    color: #fff;
}
h2{
    padding: 1rem;
    color: black;
    text-align: center;
}
p,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
h3{
    padding: 2rem 0 0.5rem 0;
    font-weight: bold;
    font-size: 2rem;
}
main,
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    max-width: 1200px;
width: 100%;
    border-radius: 10px;

justify-content: center;
}
.columns{
 display: flex;
 justify-content: space-between;
}

.menu-tab{
    padding: 0.5em;
    height: 20px;
    display: inline-block;
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color 300ms;
}
.menu-tab:hover{
    background-color: aqua;
}
.menu-tab-active{
    background-color:deeppink;
}
header{


height: fit-content;

    position: relative;
display: flex;
flex-direction: column;
align-items: center;
    /* height: 100vh; */
    background-image: url(../img/pita_front.jpg);
background-position: center;
    background-size: cover;

  
}
.header-section{
    width: 100%;
 max-width: 1200px;
    justify-content: start;
    align-items:flex-end;
    align-items:flex-end;
    align-items:flex-end;
    position: relative;
    z-index: 20;
    display: flex;
    /* height: calc(100% - 80px); */
    
}



.header-content{
display: block;
     max-width: 400px;
    padding: 5rem 3rem; 
    align-items: center;
    justify-content: center;
    align-items: center;

}
.header-content p{
    text-align: right;
    color: white;
    font-size: 1.2rem;
    /* padding-right: 2rem; */



}
.header-content-mobile{
    padding: 0 1rem;

}
.header-content-mobile p{
text-align: center;
}
.dark-canvas{
    z-index: 0;
position: absolute;
top: 0;
left: 0;
height: 100%;   
width: 100%;
background-color: rgba(0,0,0,0.4); 
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 200;
    color: #fff;
}
nav a{
    color: black;
}
.logo-w{
   height: 80%; 
   padding: 1rem 0rem 0rem 3rem;
}
.logo-mobile{
    width: 30vw;
    padding: 1rem 0 0.5rem 0;
}
.nav-logo{
 max-width: 200px;
}
.nav-menu{
   margin-top:auto;
   margin-bottom: auto;
   padding-right: 3rem; 
}
.nav-menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
transition: 300ms;
}
.nav-menu a:hover{
    background-color: rgba(255,255,255,0.2);
} 
.nav-menu ul{
display: block;
}
.nav2{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
    transition: 300ms;
    max-width: 1200px;
}
.nav2 a{
padding: 10px 20px;
    line-height: 40px;
    transition: 300ms;
    text-decoration: none;
    color: black;
    height: 40px;
   
}

.nav2 a:hover,
.nav2-active {
    background-color: rgb(75, 75, 75);
    transition: 300ms;
    color: white !important;
    border-radius: 5px;
    
}

.nav2-desktop{
    display: block;
}
.nav2-mobile{
    display: none;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
 /* height: 5px; */
    max-width: 1200px;
}
.nav2-mobile-active{
 border-radius: 10px;
    background-color: rgb(201, 198, 198);
    transition:  800ms;

    filter: invert(1);
}
.nav2-mobile img{
    width: 30px;
padding: 0 5px;

}
.icon-mobile-section a{
line-height: 0px;
font-size: 3rem;
   padding: 0 !important;
}
.icon-mobile-section{
    width: 100%;
    display: inline;
    height: fit-content;  
  }
  .icon-mobile{
    /* background-color: blueviolet; */

  }
.menu{
    /* width: 100vw; */
    scroll-margin-top: 140px;
    max-width: 1200px;
    padding: 0 2rem;

}
.menu-section{
    display: flex;
    flex-direction: row;
    padding: 0.7rem 0;
 
}
.menu-section-name{
    text-align: left;
 
    flex-grow: 1;
 
}
.menu-section-price{
    text-align: right;

    /* background-color: aqua; */
    /* height: 30px; */
    flex-grow: 1;
    min-width: 15rem;
}
.menu-section-price p{
    font-weight:bolder;

}
.menu-section-price img{
    padding: 0 0.5rem;
    vertical-align: text-top;
}
.about-us-section{
    display: flex;
    max-width: 1200px;
    align-items: center;
    padding: 1rem;
}
.about-us-section h3{
    padding-top: 1rem;
}
.about-us{

max-width: 600px;
width: 100%;
overflow: hidden;

/* width: 50%; */
 
}
.about-us img{
width: 100%;

}
.section{
    padding-top: 20px;
    min-height: 80vh;
    scroll-margin-top: 140px;
    width: 100%;


}
footer{
    display: flex;
    justify-content:space-around;
    background-color: gray;
    height: 80px;
    padding: 1rem;
    color: #fff;
overflow: hidden;
position: relative;
z-index: 200;
    
}
.logo-f{
    height: 80%;
}
.home-btn{
    text-align: center;
padding: 10px;
    border-width: 1px;
color: black;
    border-radius: 2rem;
    border-style: solid;
    border-color: grey;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 20px;
    right: 0px;
    transition:300ms;
    transform: translateX(100px);
    opacity: 0; 
    display: flex;
    align-items: center; 
z-index: 100;
    transition: transform 0.3s, opacity 0.3s;

}
.home-btn-up{
    transform: translateX(-10%);
    opacity: 1;
    transition: transform 1s, opacity 1s, filter 0.3s;
    transition-delay:transform 0.5s, opacity 0.5s;
}
.home-btn p{
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem;
}
.home-btn:hover{
filter: invert(1);

}
.menu-btn-container{
    display: flex;
    justify-content: end;
    padding: 3rem 0rem;
}
.menu-btn{
    border: hidden;
    border-style: solid;
    border-width: 1px;
    border-color:  white;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
padding: 1rem 1.5rem;
text-align: center;
color: black;
text-transform: uppercase;
transition: 300ms;
}
.menu-btn:hover{

    color: #fff;
    background-color: rgba(255,255,255,0.1);
}
.content-desktop{
   
}
.content-mobile{
    display: none;
}



@media (max-width: 992px) {


    h1{
        text-align: center;
    }
.header-content{
width: 100%;
max-width: none;

}
.header-content p{
    text-align: center;
}
.menu-btn-container{
    justify-content: center;
}
/* .home-btn:hover{
    filter: invert(0);
    
    }  
    .menu-btn-container{
        padding: 2rem;
    }  */

}

@media (max-width: 768px){
    header{
        /* max-height: 50vh; */
    }
    .header-content{

    }
    .about-us-section{
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    h1{
        font-size: 13vw;
        text-align: center;
        padding: 0 0 1rem 0;
    }
    h2{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 5px;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.2rem;
    }
    p{

    }

.call-btn{
    height: 40px;
    padding: 5px;
}
.call-btn-up{
    transform: translateX(-20px);
}
.header-section{

    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    height: 100%;
}
.header-section p{
    text-align: center;
    padding: 0;
    font-size: 1rem;
}




.nav2-desktop{
    /* display: none; */
}
.nav2-mobile{
    display: block;
    transition: 800ms;
}


.menu-section{
    flex-direction: column;
}
.menu-section-name p,
.menu-section-price p{
    text-align: left;
    padding-top: 0.5rem;
}
.menu{
    padding: 0 1rem;
        scroll-margin-top: 100px;
}
header{
    height: 100vh;

    background-image: url("../img/pita_front_mobile.jpg");
    background-position: center;
}
.header-content{

    /* margin: auto; */
    padding: 8rem 1rem 2rem 1rem;

}
.content-desktop{
display: none;
}
.content-mobile{
    display: inline;
    text-align: center;
    padding: 0 ;
    width: 60vw;
}
.content-mobile a{
    color: white;
    text-decoration: none;
    line-height: 45px;
    padding: 0 1rem;
}
.menu-btn-container{
justify-content: center;
}
.home-btn{
    scale: 0.8;
    bottom: 10px;
    right: 0px;
    transition:300ms;
    transform: translateX(0px);
}
.logo-f{
    width: 30%;
}
footer{
    flex-direction: column;
    height: 100%;
}
.footer-section{
    text-align: center;
    display: block;
    padding: 1rem;


}
.section{
    scroll-margin-top: 100px;
}
}
@media (max-width: 280px){
    header{
        height: 100vh;
        height: fit-content;
        height: 100vh;
        height: fit-content;
        height: 100vh;
    }

    h3{
        font-size: 1.5rem;
    }
    .nav2-mobile img{
        width: 25px;
    
    }
}